body{
    background-color: #0c0c0d;
}


div{
    width: 100px;
    height: 100px;
}

.basic-color-transition{
    background-color: red;
    transition: background-color 2s ease-in;
}

.basic-color-transition.yellow{
    background-color: yellow;
}